# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
.env
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# OS / editors
.DS_Store
.vscode/
.idea/

# Logs
*.log
snalemake_workflow/
cms-open-data-ttbar
metrics/
cache
cache_hist
.snakemake
.cache_by_dataset/
.cache_by_dataset_50pct/
.cache_mixed_50pct/
.cache_no_split/
dist
.cache_coffea_casa/
.cache_coffea_casa_dask/
.cache_coffea_casa_parallel/
.cache_coffea_casa_dask_failed_file/
.cache_coffea_casa_failed_file/
utils.zip
.cache_sequential_with_failure/
.cache_parallel_with_failure/
.cache*/